@font-face {
    font-family: 'Inter';
    src: url("assets/Inter-VariableFont_slnt\,wght.ttf");
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    margin: 50px 0 0 0;
    width: 75%;
}

.main .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 40px 0;
}

.main .nav-bar img {
    width: 5%;

}

.main .nav-bar .links {
    float: right;
}

.main .nav-bar .links ul{
    list-style: none;
}

.main .nav-bar .links li {
    display: inline-block;
    margin-right: 30px;
    font-family: Inter;
    font-size: 15px;
}

    #last {
    margin-right: 0px;
    }

.main .section-one {
    display: grid;
    grid-template-columns: 68% 30%;
    grid-template-rows: 1fr;
    gap: 2%;
    width: 100%;
    height: 65vh;
}

.main .section-one .first {
    display: grid;
    grid-template-rows: 55% 45%;
    grid-template-columns: 1fr;
}

.image-bg {
    background-image: url(assets/image-web-3-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.image-info {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    font-family: Inter;
    margin: 40px 0;
}

.image-info .img-heading {
    font-size: 26px;
    line-height: 50px;
}

.image-info .img-para {
    line-height: 25px;
    text-align: justify;
    text-justify: distribute;
    font-size: 14px;
}

.image-info .img-para button {
    width: 40%;
    padding: 15px;
    background-color: hsl(5, 85%, 63%);
    color: white;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 20px 0;
}

.main .section-one .second {
    background-color: hsl(240, 100%, 5%);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: Inter;
}

    .second-content {
        width: 90%;
        height: 90%;
    }

    .second-content h1 {
        font-size: 45px;
        color: hsl(35, 77%, 62%);
        margin: 25px 0;
    }

    .second-content .news-info {
        color: white;
        margin: 20px 0;
    }

    .second-content .news-info p {
        font-size: 14px;
        color: hsla(36, 100%, 99%, 0.573);
        margin: 10px 0 35px 0;
    }

.section-two {
    width: 100%;
    height: 25vh;
    margin: 60px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    gap: 2%;

}
    .cards {
        height: 100%;
        display: grid;
        grid-template-columns: 35% 50%;
        grid-template-rows: 1fr;
        gap: 10%;
    }

    .cards .card-img{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

        #one {
            background-image: url(assets/image-retro-pcs.jpg);
        }

        #two {
            background-image: url(assets/image-top-laptops.jpg);
        }

        #three {
            background-image: url(assets/image-gaming-growth.jpg);
        }

    .cards .card-i {
        font-family: Inter;
    }

        .card-i h1 {
            color: hsl(38, 4%, 62%);
        }

        .card-i p {
            color: hsl(240, 100%, 5%);
            font-weight: bold;
            margin: 10px 0;
        }

        .card-i span {
            color: hsl(60, 0%, 39%);
            line-height: 30px;
            font-size: 14px;
        }